body {
    margin: 0;
    padding: 0;
}
header {
    margin: 2vw 4vw 2vw 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    height: 5vw;
}
header nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 3vw;
}
header nav a {
    font-size: 1.5rem;
}
header nav a:hover {
    color: #1AA3F3 ;
}
header .user-panel {
    display: flex;
    align-items: center;
    gap: 2vw;
}
header .profile-image i {
    color: white;
    font-size: 2.5vw;
    border: 2px solid #7F7F7F ;
    border-radius: 50%;
}
header .bell {
    font-size: 1.5vw;
}
header .search {
    display: flex;
    align-items: center;
    position: relative;
}
header .search-box {
    font-size: 1.5rem;
    border: 1px solid #7F7F7F;
    width: 10vw;
    border-radius: 5px;
}
header .search i {
    position: absolute;
    right: 1vw;
    font-size: 1.2rem;
    color: #7F7F7F;
    cursor: pointer;
}


main {
    background-image: url('/images/titanic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5vw 2vw;
    margin: 1vw;
    border-radius: 5px;
}
.hero-content {
    max-width: 60%; 
    margin-left: 0; 
    margin-right: auto; 
    text-align: left;
    color: white; 
}
.movie-title {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px black;
}
.movie-info {
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
    gap: 3vw;
    font-size: 1.5rem;
    text-shadow: 1px 1px 4px black;
}
.user-ratings {
    display: flex;
    align-items: center;
    gap: 1vw;
}
.user-rating {
    color: #FF0000;
}
.rating-number {
    font-weight: bold;
}
.maturity-rating {
    padding: 0 0.5vw;
    border: 1px solid #D9D9D9 ;
    border-radius: 5px;
}
.duration {
    font-weight: bold;
}
.description {
    font-size: 1.5rem;
    margin-bottom: 3vw;
    text-shadow: 1px 1px 4px black;
}
.movie-details {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 3vw;
    text-shadow: 1px 1px 4px black;
}
.movie-details .label {
    font-weight: bold;
    color: #FF0000;
}
.btn {
    background-color: #FF0000;
    color: #D9D9D9;
    padding: 1vw 2vw;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}


#movieList {
    margin: 3vw 1vw;
}
.suggestion-row {
    margin-bottom: 4vw;
}
.suggestion-title {
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: bold;
}
.suggestion-title h2 {
    font-size: 2rem;
}
.suggestion-title a {
    font-size: 2rem;
}
.suggestion-content {
    display: flex;
    overflow-x: auto;
    gap: 6.4vw;
    padding: 0.5vw 0;
}
.suggestion-item {
    position: relative;
    width: 28vw;
    height: 32vh;
    flex-shrink: 0;
    border: solid 1px #7F7F7F;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw;
    box-sizing: border-box;  
}
.suggestion-item h3 {
    text-shadow: 2px 2px 6px black;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-top: 3vw;
    text-transform: uppercase;
    text-align: left;
}
.suggestion-details {
    text-shadow: 1px 1px 4px black;
    display: flex;
    justify-content: flex-start;  
    margin: 0;
    color: white;
    font-size: 1.5rem;
    gap: 2vw;  
}
.duration {
    font-weight: bold;
}
.suggestion-item .btn {
    display: block;
    text-align: center;
    background-color: #FF0000;
    border: none;
    border-radius: 5px;
    padding: 0.5vw 1.5vw;
    color: #D9D9D9;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: flex-start;
    margin-bottom: 2.5vw;
}
#more-suggestions {
    height: 37vh; 
}
#popularMovies .suggestion-item:nth-child(1) {
    background-image: url('images/inception.jpg');
}

#popularMovies .suggestion-item:nth-child(2) {
    background-image: url('images/matrix.jpg');
}

#popularMovies .suggestion-item:nth-child(3) {
    background-image: url('images/avatar.jpg');
}

#popularMovies .suggestion-item:nth-child(4) {
    background-image: url('images/DarkKnight.jpg');
}

#popularMovies .suggestion-item:nth-child(5) {
    background-image: url('images/Gladiator.jpg');
}

#popularMovies .suggestion-item:nth-child(6) {
    background-image: url('images/Interstellar.jpg');
}

#recommendedForYou .suggestion-item:nth-child(1) {
    background-image: url('images/TheGodfather.jpg');
}

#recommendedForYou .suggestion-item:nth-child(2) {
    background-image: url('images/SpiderMan.jpg');
}

#recommendedForYou .suggestion-item:nth-child(3) {
    background-image: url('images/parasite.jpg');
}

#recommendedForYou .suggestion-item:nth-child(4) {
    background-image: url('images/ShawshankRedemption.jpg');
}

#recommendedForYou .suggestion-item:nth-child(5) {
    background-image: url('images/FightClub.jpg');
}

#recommendedForYou .suggestion-item:nth-child(6) {
    background-image: url('images/forrest\ gump.jpg');
}


footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    margin: 2vw 1vw 2vw 1vw;
    gap: 5vw;
    flex-wrap: nowrap;
}

footer .links {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
}
footer .links nav {
    display: flex;
    gap: 8vw; 
}
footer .links nav a {
    font-size: 1.5rem;
}
footer .links p {
    font-size: 1rem;
    margin-top: 1vw;
    max-width: 96%;
}
footer .social {
    display: flex;
    flex-direction: column;
}
footer .social p {
    margin-bottom: 1vw;
    font-size: 1.5rem;
}
footer .social .social-links {
    display: flex;
    gap: 2vw;
}

footer .social i {
    font-size: 2vw;
    cursor: pointer;
}
footer .apps {
    display: flex;
    flex-direction: column;
}
footer .apps p {
    margin-bottom: 0.5vw;
    font-size: 1.5rem;
}
footer .apps img {
    width: 10vw;
    height: auto;
}
.bold {
    font-weight: bold;
}

@media (max-width: 500px) {
    header {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        margin: 1vw;
    }
    header .logo {
        height: 8vw;
        order: 1; 
        margin-right: auto; 
    }
    header .user-panel {
        order: 2; 
        margin-left: auto; 
    }
    header .profile-image i {
        font-size: 3vw;
    }
    header .bell {
        font-size: 2vw;
    }
    header .search-box {
        font-size: 1rem;
        width: 20vw;
    }
    header nav {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        order: 3; 
    }
    header nav a {
        font-size: 1rem;
        margin: 0 1vw;
    }

    main {
        padding: 5vw 2vw;
    }
    .hero-content {
        max-width: 90%;
    }
    .movie-title {
        font-size: 2.5rem;
    }
    .movie-info {
        font-size: 1rem;
    }
    .description {
        font-size: 1rem;
    }
    .movie-details {
        font-size: 1rem;
    }
    .btn {
        font-size: 1rem;
    }

    .suggestion-title h2,
    .suggestion-title a {
        font-size: 1.2rem;
    }
    .suggestion-content {
        display: flex;
        overflow-x: auto;
        gap: 4vw;
        padding: 0.5vw 0;
    }
    .suggestion-item {
        width: 30vw;
        height: 18vh;
    }
    .suggestion-item h3 {
        font-size: 1.5rem;
        line-height: 1;
    }
    .suggestion-details {
        font-size: 1rem;
    }
    .suggestion-item .btn {
        padding: 0.5vw 1.5vw;
        font-size: 1rem;
        margin-bottom: 2vw;
    }
    #more-suggestions {
        height: 18vh; 
    }

    footer {
        display: inline-block;
        margin: 1vw; 
    }
    footer .links nav a {
        font-size: 1rem;
    }
    footer .links p {
        font-size: 1rem;
        margin: 1vw 0;
        max-width: 100%;
    }
    footer .social p,
    footer .apps p {
        font-size: 1rem;
    }
    footer .social i {
        font-size: 2.5vw;
    }
    .social, .apps {
        float: left; 
        width: 30%;
    }
    
    
}